services:
  app:
    container_name: app
    build:
      dockerfile: Dockerfile.app
      context: .
    env_file:
      - .env
    networks:
      - docker-network
    ports:
      - "${NITRO_PORT}:${NITRO_PORT}"
    depends_on:
      - database
  database:
    container_name: database
    image: postgres:18.0-alpine3.22
    volumes:
      - db-data:/var/lib/postgresql/data
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${DATABASE_NAME}
      - POSTGRES_USER=${DATABASE_USER}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
    networks:
      - docker-network
    ports:
      - "${DATABASE_PORT}:${DATABASE_PORT}"
volumes:
  db-data:
networks:
  docker-network:
